/*
	Skin Blue: #e9ab17;
*/

a:hover, .alink:hover, .header .header-menu .menu-links li .icon,
.page-header .page-topbar .switcher .options ul.dropdown a:hover,
.block-service .pull-left, .header .header-menu .menu-links li a:hover,
.product-info-main .product-list-categories a,
.page-header .user .link-account a:hover,
.fancybox-outer .popup_avaiable > a, .seller-info .icon,
.ves-menutop .ves-megamenu li.level0.active > a,
.ves-menutop .ves-megamenu li.level0:hover > a
{color: #e9ab17;}

.ves-megamenu .dropdown-menu a:hover
{color: #e9ab17!important;}

.product-block .product-item-actions .action.add-to-cart:hover, 
.product-block .product-item-actions .actions-secondary > a:hover,
button, .fancybox-skin .action_button .button,
.header3 .ves-menutop .dropdown-toggle::before,
.header4 .header-menu, .faq-item h4, .box-v2::before
{background: #e9ab17;}

.cart-container .form-cart .actions .action,
.lof_marketplace_wrapper #review_hidden_form .form-add .buttons-set button.button
{background: #e9ab17!important;}

.action.primary, .ves-autosearch .search_box .button-search,
.minicart-wrapper .action.showcart .counter-number,
.page-wrapper .toolbar .modes-mode.active,
.block-carousel .owl-carousel .owl-nav [class*=owl-]:hover,
.page-footer .social li a:hover
{background-color: #e9ab17;}

.block .block-title{border-left-color: #e9ab17;}
.rtl .block .block-title{border-left-color: transparent; border-right-color: #e9ab17;}
.block-brand li a:hover{border-color: #e9ab17;}

@media (min-width: 768px) {
	.product.info.detailed .product.data.items > .item.title.active > .switch::after
	{background: #e9ab17;}
}